.policy {
    background-color: #fff;
    padding: 160px 0 48px 0;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 16px;
        width: 100%;
        max-width: 844px;

        h1 {
            font-size: clamp(2rem, 1.171rem + 3.54vw, 4rem);
            font-weight: 600;
            color: #000;
        }

        p {
            font-size: 16px;
            margin-bottom: 20px;
            color: #1E1E1E;
        }

        a {
            color: #000;
            font-size: 30px;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            padding: 4px 0 0 4px;
            border: 1px solid #000;
            transition: all .5s;

            &:hover {
                background-color: #000;
                color: #fff;
            }
        }
    }
}

.home__block {
    display: block;
    @media (max-width: 768px) {
        display: none;
    }
}

.home__none {
    display: none;
    @media (max-width: 768px) {
        display: block;
    }
}