.scrollToTop {
    position: fixed;
    bottom: 100px;
    right: 50px;
    background-color: #007839;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 72px;
    height: 72px;
    font-size: 25px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 1s ease;

    &:hover {
        background-color: #005f2a;
        transform: translateY(-4px);
    }

    @media (max-width: 425px) {
        width: 50px;
        height: 50px;
        font-size: 18px;
        bottom: 20px;
        right: 20px;
    }
}